@charset "utf-8";

.detail {
    padding-top:110px;
    text-align: center;
    width: 50%; 
    line-height: 1.2em;
}


#access {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

#access img {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

h2 {
    /* text-decoration: underline; */
    border-left: 7px solid #842444;
    display: inline-block;
    padding-left: 0.5em;
    padding-bottom: 2px;
    border-bottom: 1.5px solid #842444;
}

.googlemap {
    text-align: center;
    width: 50%;
    padding-top: 250px;
    line-height: 1.2em;
}

footer {
    background-color: gray;
    margin-top: 15px;
}